@font-face {
  font-family: '__Space_Grotesk_587f35';
  src: url('path/to/space_grotesk.woff2') format('woff2'),
       url('path/to/space_grotesk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '__Space_Grotesk_Fallback_587f35';
  src: url('path/to/space_grotesk_fallback.woff2') format('woff2'),
       url('path/to/space_grotesk_fallback.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

@media (min-width: 600px) {
  .page {
    flex: 1 1 50%; /* Each item takes 50% width on medium screens */
  }
}

@media (min-width: 900px) {
  .page {
    flex: 1 1 33.33%; /* Each item takes 33.33% width on large screens */
  }
}

* { 
  /* outline: 2px solid red; */
  font-family: '__Space_Grotesk_587f35', '__Space_Grotesk_Fallback_587f35', sans-serif;
  
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
}

:root {
    font-size: 13px;
    font-family: 'Open Sans';
    
}


body {
    /* background:url(https://images.unsplash.com/photo-1604147706283-d7119b5b822c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center; */ */
    /* background-size: cover; */
    background-color: white;
    /* background-color: rgba(14, 13, 13, 0.742); */
    height: 100%;
    width: 100%;
    overflow:scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0; 
    position: relative;
    text-align: center;
    color: rgb(9, 9, 9);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

header {
  color: #836565;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  
}

section {
  min-height: 100vh; /* Full viewport height */
  padding: 20px 20px;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  
}

#home {
  /* background-color: black; */
  background-image: url(https://wallpapercave.com/wp/wp6690963.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
}

.page {
  width: 100%;
  flex: 1 1 100%; /* Each item takes full width on small screens */
}

.Introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0px 30px 100px; */
  height: 100vh;
  /* margin-left: 0; */
}


.intro-text {
  flex: 1;
  padding-right: 0.625rem;
  margin-left: 12.5rem;
}

.intro-text h1 {
  font-size: 2.25rem;
  margin: 6.25rem;
  margin-bottom: 1.875rem;
  color: white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  /* left: 50px; */
}

.intro-text p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  background: none;
  color: white;
  
}


.intro-image {
  flex: 1;
  display: flex;
  justify-content: center;
  /* padding-left: -1000px; */
  margin-right: 12.5rem;
}


.intro-image img {
  max-width: 100%;
  height: auto;
  border-radius: 22rem;
  width: 22rem;
}

.download-cv-btn {
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1.25rem;
  color: #ffffff;
  background-color: #001d3d;
  border: none;
  border-radius: 4rem;
  text-decoration: none;
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
}

.contact-me-button {
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1.25rem;
  color: #000000;
  background-color: #dcdbe6;
  border: none;
  border-radius: 4rem;
  text-decoration: none;
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
}

/* .download-cv-btn:hover {
  background-color: #ffffff;
  color: #000000;
} */
/* 
/* nav {
  background:url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center;  */
  /* height: 100%;
  width: 300px;
  position: fixed;
  z-index: 10;
  display: block;
  transform: translateX(0px);
  transition: transform 0.3s ease-in-out; */
  

/* } */
 

/* #nav-list.show {
  transform: translateX(300);
} */

/* nav ul {
    
    list-style: none;
    margin: 0 auto; 
    padding: 40px 50px;
    color: rgb(19, 21, 22);
    display: block;
    float: left;
    height: 100%;
    width: 100%;
    
  } */

/* nav ul li {
    color: #ad0f0f;
    display: block; 
    height: 20px;
    width: 170px;
    line-height: 15px; 
    list-style:armenian;
    padding: 30px 0;
    transition: background .5s;
    /* margin-left: auto; */
   
    
  /* }  */
  
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

  
  .hamburger {
    /* display: none; */
    cursor: pointer;
    font-size: 40px;
    padding: 10px 0;
    /* margin-right: 1000px; */
    /* height: 35px; */
    width: 20px;
    display: inline-block;
    position: relative;
    /* right: 400px; */
    float: left;
    margin-left: 50px;
    color: rgb(218, 176, 176);
    appearance: none;
    background: none;
    outline: none;
    border: none;
    
  }



  .hamburger .bar, .hamburger:after, .hamburger:before {
    width: 30px;
    height: 5px;
    content: '';
    display: block;
    background-color: #fde671;
    margin: 6px 0px;
    transition: 0.4s;
  }
  
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
    background-color: white;
    
  }
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
    background-color: white;
    
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    min-height: 100vh;
    /* display: none; */
    /* z-index: 98; */
    background-color: #000000;
    padding-top: 120px;
    transition: 0.4s;
    /* -webkit-transition: 0.4s; */
    /* opacity: 0; */
    
    
  }


  .mobile-nav.is-active {
    left: 0;
    
    /* display: block; */
    /* opacity: 1; */
    
    
}

  .mobile-nav a {
    /* display: block; */
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 80%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 0;
    background-color: #e1ebee;
    color: #06d2fe;
    text-decoration: none;
  }



  .mobile-nav a:hover {
    background-color: #ffd60a;

  }


.mobile-nav {
    /* display: none; */
}
.hamburger {
    /* display: none; */
}


/*   
  #nav-list {
    max-height: 20px;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
    
    
  }
   */

  
  
  /* .hamburger:hover + #nav-list,
  #nav-list:hover {
    /* max-height: 900px; Adjust to fit the content */
    /* transform: translateX(0); */
    /* transition: max-height 0.8s ease-in-out; */
  /* } */ */
  

nav ul li:hover {
    /* background: #3593be; */
    /* cursor: pointer; 
    transition: background .5s;  */
    /* border-radius: 50%; */
    
  }

  a {
    /* color: rgb(13, 13, 14);
    font-size: large;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    display: inline-block;
    list-style-type: none; */
  }

  #resume {
    background: #f3f3f5;
  }

  .info {
    font-size: 1.3rem;
  }

  .titels {
    margin-top: 4rem;
    font-size: 1.7rem;
  }

  .skill-details {
    text-align: left;
  }

  .example_d {
    color: #5e5c5c !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px 0;
    border: 4px solid #494949 !important;
    border-radius: 6px;
    display:block;
    text-align: left;
    /* transition: all 0.3s ease 0s; */
    }

    .example_d:hover {
    color: #000000 !important;
    /* border-radius: 50px; */
    border-color: #000000 !important;
    transition: all 0.3s ease 0s;
    transform: translateX(15px);
    }



    .project-list {
      margin: 0 3rem;
      padding: 0;
      display: block;
      font-size: 5rem;
    }
    
    .project-font {
      font-size: 3rem;
      
    }
    
    .project-list li a {
      position: relative; 
      width: 8rem;
      height: 8rem;
      text-align: center;
      /* line-height: 63px; */
      background: #01012e;
      color: #666;
      border-radius: 20%;
      transition: 1s;
      
      
    }

    


  ul.project-list {
    display: block;
    padding: 10px 0;
    justify-content: center;
    margin-top: 0;
    /* top: 10%; */
    /* left: 50%; */
    /* position: relative; */ */
    
    
  }

  .project-list li {
    /* margin: 0 50px;
    /* padding: 20px; */
    /* transition: 1s; */
    /* position: relative; */

    position: relative; 
    display: flex;
    align-items: center;
    
    text-align: center;
    padding: 5rem 1px;
    margin: -2rem 22rem;
    

  }






  ul.project-list li a:hover {
    color: #eae7c4;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #e6e4e4; 
    transition: 0.5s;
  }

  .fa  {
    padding: 1rem;
    font-size: 5rem;
    text-align: center;
   
  }

  .fn {
    margin-top: 10rem;
  }

.fa-hand-holding-usd {
    padding: 1rem;
    font-size: 5rem;
    text-align: center;
    
    
  }

  .project-list span.tooltip {
    visibility: visible;
    width: 60rem;
    white-space: normal;
    background-color: white;
    color: #666;
    border-radius: 6px;
    margin: 0rem 37rem;
    text-align: left;
    position: absolute;
    /* TOP: 210px; */
    /* left: 50%; */
    /* opacity: 0; */
    /* margin: -5px 8; */
    transform: translateX(-50%);
    transition: opacity 0.3s;
    font-size: 1.5rem;
    line-height: 1.3;
    text-align: left;
    z-index: 10;
  }

  .project_content-details-para {
    line-height: 1.7;
    margin: 0;
    padding: 0;
    /* margin-left: 22rem; */
    margin-bottom: 3rem;
  }



  .project-list li:hover span.tooltip {
    visibility: visible;
    transition: opacity .5 ease-in-out, visibility 0.5s ease-in-out;
    /* width: 50rem; */
    
  }



  h3 {
    /* background-color: rgb(222, 221, 221); */
    width: fit-content; 
    margin: 20px auto;
  }
  /* .project-link {
    font-family: cursive;
    text-decoration: underline;
  } */

/* .project {
  color: #541e99;
} */

/* td [href]:hover {
  background: #3593be;
  color: rgb(246, 246, 246);
  transition: 0.5s;
} */

#about {
  background: #f3f3f5;
}

.heading-sec-title {
  margin-top: 10rem;
  display: block;
  font-size: 3rem;
}

.about_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  margin: 0;
  padding: 0;
}

.about_content-title {
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: 3rem;
  text-align: center;
  padding-left: 0;
  text-indent: 3rem;
  
}

.about_content-title-skill {
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: 3rem;
  text-align: center;
  padding-left: 0;
  text-align: center;
}

.about_content-details {
  text-align: left;
  font-size: 1.8rem;
  color: #666;
  width: 60rem;
  margin-left: 2rem;
}

.about_content-details-para {
  line-height: 1.7;
  margin: 0;
  padding: 0;
  margin-left: 22rem;
  margin-bottom: 3rem;
}

.btn-med {
  padding: 1.5rem 5rem;
  font-size: 1rem;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin-left: 3rem;
  box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.15);
  transition: .3sec;
  
}

.btn-theme {
  background: rgb(181, 181, 245);
  color: #525253;
  border-radius: 5px;
  

  
}

.btn-med {
  width: 10rem;
  padding: 1.5rem 4.5rem;
  font-size: 1.6rem;
  top: .3rem;
  
}

.btn-med:hover {
  background: #001d3d;
  margin-top: -2rem;
  color: #FFF;
  transition: .5s;
  top: 0;
}

.about_content-title-skill {
  text-align: left;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  
}

.skills-skill {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  background:rgb(237, 240, 248);
  border-radius: 1rem;
  color: #666;
  
}


.heading-sec-main {
  display: block;
}



@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

/* html.contact,
body.contact {
  width: 100%;
  height: 100%;;
  overflow: auto;
  margin: 0;
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
} */

.contact-info-heading {
  background: #444;
  margin: 5rem 38rem;
  text-align: left;
  font-weight: 800px;
  font-size: 5rem;
}

div[class*=box] {
  height: 24%;
  /* width: 10px;  */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 100px auto;
  /* margin-top: 200px; */
  padding: 20px 10px;
  /* overflow: scroll; */
}

.box-1 { background-color: #01012e;}
.box-2 { background-color: #01012e;}
.box-3 { background-color: #01012e;}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: start;
  width: 250px;
  cursor: pointer;
  font-size: large;
  position: relative;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
  
}
.btn-one::before {
  content: 'bn.tousifar85@gmail.com';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  opacity: 0;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(71, 8, 8, 0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
  cursor:text;
  
}


/* 
========================
      BUTTON TWO
========================
*/
.btn-two {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-two span {
  transition: all 0.3s;
}
.btn-two::before {
  content: '(858) 231-1412';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-two:hover span {
  opacity: 0;
}
.btn-two:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-two::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(71, 8, 8, 0.1);
}
.btn-two:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}


/* 
========================
      BUTTON THREE
========================
*/
.btn-three {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  background: #cfcccc;
  width: 20rem;
  padding-right: 5rem;
}
.btn-three span {
  transition: all 0.3s;
  
}
.btn-three::before {
  content: 'Click Me!';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);

  
}
.btn-three:hover span {
  opacity: 0;
 
}
.btn-three:hover::before {
  /* content: 'https://www.linkedin.com/in/benjamin-tousifar-44054a112/'; */
  opacity: 1; 
  transform: scale(1.2, 1.1); 
  width:max-content;
  position: absolute;
  cursor:grab;
  
  
}
.btn-three::after {
  /* content: ''; */
  position: relative;
  /* bottom: 0; */
  /* left: 0; */
  width: 30px;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
  opacity: 0;
  
  
  
  
}
.btn-three:hover::after {
  /* content: 'https://www.linkedin.com/in/benjamin-tousifar-44054a112/'; */
  opacity: 0; 
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */


  /* pointer-events:fill;
  align-items:start; */
}

#linkedin-link {
  text-decoration: none;
  width: 5rem;
}

.btn-three:hover .link-text {
  display: none;
  width: 5rem;
  
}

p, hr {
  margin-left: 25%;
  margin-right: 25%;
  font-size: large;
  /* background-color: rgba(252, 251, 236, 0.926); */
  
}

.work-time span {
  display:inline;
  margin-right: 250px;
  margin-left: 250px;
  font-size: 20px;
}

.time {
  margin-inline-end: auto;
}

/* .work span {
  display:inline;
} */

.education span {
  display: inline;
  margin-right: 30px;
  margin-left: 50px;
  font-size: large;
  /* background-color: rgba(252, 251, 236, 0.926); */
  font-weight: bold;
}

.date {
  margin-left: 40%;
}

.position {
  margin-right: 80%;
  /* background-color: rgba(252, 251, 236, 0.926); */
  font-weight: bold;
}

.jd {
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
  font-size: large;
  /* background-color: rgba(252, 251, 236, 0.926); */
  
}

.summary {
  text-align: left;
  font-size: large;
  line-height: 2rem;
  /* background-color: rgba(252, 251, 236, 0.926); */
  
}

.position-details {
  line-height: 2rem;
}

header.projects {
  height: 800px;;
  color: #FFF;
}

/* .fa-dollar-sign {
  padding-right: 100px;
  
} */




#left-navigation {
  display: flex;
  margin-left: -8px;
  flex-grow: 1;
}

.linkedin {
  text-decoration: underline;
}



#contact-me {
  text-align: left;
  padding-left: 400px;
  width: 87.6rem;
  /* background: #f3f3f5; */
  
  
}

h1.contact {
  font-weight: 700px;
  font-size: 5rem;
  margin-bottom: 20px;
  
  /* padding-left: -50px; */
  
  /* background-color: #000000; */
  /* text-align: left;
  padding-left: 400px; */
  
  
  
}

input {
  width: 300px;
  height: 35px;
  border-radius: 7px;
  margin: 20px auto;
  border-width: 1px;
  border-color:rgb(191, 196, 218)
  
}

textarea {
  border-radius: 7px;
  width: 500px;
  height: 150px;
  border-width: 1px;
  padding: 10px 5px;
}

#name {
  margin: 0 auto 30px;
}

#email {
  margin: 0 auto 30px;
}

.button {
  width: 6rem;
  height: 3rem;
  cursor: pointer;
  background-color: #001d3d;
  color: rgb(255, 255, 255);
  margin: 2rem .5rem;
  box-sizing: border-box;
  display: inline-block;
  
  
  
}

.button:hover {
  /* text-align: left; */

}

.button:active {
  transform: translateY(4px);
  box-shadow: 0 2px #001d3d;
}

.main-footer {
  background: #000;
  color: #FFF;
  max-width: 100%;
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 90%;
}

.main-footer-upper {
  display: flex;
  justify-content: space-between;
  padding: 6rem 0;
}

.heading-sm {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.main-footer-short-desc {
  color: #dcdbe6;
  margin-top: 2rem;
  line-height: 1.7;
  font-size: 1rem;
  text-align: left;
  margin-left: 0;
  
}

.text-lt {
  text-align: left;
}

.main-footer-lower {
  padding: 4rem 0;
  border-top: 1px solid #444;
  text-align: center;
}

.footer-home-link {
  color: #fce44a;
}

.socila-lt {
  order: 2;
  text-align: left;
}

.main-footer-social-cont {
  margin-top: 1rem;
  background: #000;
}

.main-footer-icon {
  width: 2.5rem;
  margin-right: 1.5rem;
  background: white;
  border-color: #000;
  border-collapse: collapse;
  border-radius: 90%;
  
}

.footer-email-icon {
  color: white;
  font-size: 2.2rem;
}





